/* Archivito de CSS */
html {
    background-color: dimgrey;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.box {
    border-style: double;
    border-width: 10px;
    border-radius: 32px;
    margin: 10px 20px;
    padding: 10px;
    border-top-width: 15px;
    border-color: darkcyan;
    background-color: darksalmon;
}