/* Archivito css principal */

body {
    background-color: grey;
    font-family: cursive;
}
main {
    background-color: lightyellow;
    border: 2px dashed red;
    border-radius: 15px;
    padding: 20px;
}

h1 {
    color: grey;
}

h2 {
    color: lightgray;
}

li {
    font-size: 16px;
}

.negrita {
    font-weight: bold;
}

ul:nth-of-type(1) li:nth-child(3) {
    color: royalblue;
    font-weight: bold;
}

/* Pseudo clase: en este caso, de  */
p:hover {
    color: aqua;
}

/* Usando un pseudo-elemento: selecciona un sub-espacio de la etiqueta, en este caso la primer letra */
P::first-letter {
    color: rebeccapurple;
    font-size: 20px;
}


div p {
    display: inline;
}

#input1 {
    background-color: khaki;
    border: 2px solid lightseagreen;
    border-radius: 0 15px 15px 0;
}

#input1:active {
    transform: rotate(25deg);
}

#input1::placeholder {
    color: maroon;
}
ol {
    list-style-type: lower-roman;
    list-style-image: url("/practica-4/img/OtroGato_20x20.png");
}

/* Así es como se puede aumentar el tamaño de los bullets! */
::marker {
    color: green;
    font-size: 20px;
}